<!DOCTYPE html>
<html lang="en" ng-app="ViewsLoginApp">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="/bower_components/angular-http-auth/src/http-auth-interceptor.js"></script>

        <script src="/index.js"></script>
    </head>
    <body ng-controller="ViewsLoginCtrl as ctrl">

        <span>
            <a href="#/main">Main</a>
        </span>

        <span>
            <a href="#/protected/menu">Menu</a>
        </span>

        <span>
            <a href="#/login">Login</a>
        </span>

        <span>
            {{ ctrl.status.message }}
        </span>

        <div ui-view style="border: blue 2px solid;"></div>

    </body>
</html>